.primary_button {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  padding: 10px 18px;
  min-width: 220px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.primary_button:hover {
  background-color: white;
  color: black;
}

.outline_btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  padding: 10px 18px;
  min-width: 220px;
  border: 1px soild black;
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.outline_btn:hover {
  background-color: black;
  color: #ffffff;
}
